@media screen and (max-width: 600px){

  .header-in > h2 {
    margin-left: 20px;
  }

  #menu {
    display: none;
  }

  .banner-in {
    flex-direction: column;
  }

  .left-side {
    text-align: center;
    align-items: center;
  }

  .right-side {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .image-container {
    width: 330px;
    height: 260px;
    border: 5px solid black;
  }

}